extends template 

append nav-links 
    +anchor("/logout", "Log out")

block content 
    .flex.flex-col.items-center.justify-around
        p Hi #{user.email}
        if organisations.length
            #form.flex.flex-col.p-4
                label(for="about-me") About me
                form#about-me.flex.flex-col(action="/api/profile" method="post")
                    .pl-4.flex.flex-col
                        label(for="organisation") Home organisation
                        select#organisation(name="organisation")
                            option(value="") -- Please choose an organisation --
                            each organisation in organisations 
                                option(value=organisation.name)= organisation.name 
                    +primary-btn("Send", "submit") 
