include mixins/banners
include mixins/buttons 
include mixins/anchors 
include mixins/login

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="styles/style.css" rel="stylesheet" type="text/css")
        title E-norm
    body
        nav.w-full.flex.justify-between.align-center.h-16.border.p-4
            p: a(href="/") E-Norm 
            .inline-flex.w-96.justify-around
                block nav-links
                    +anchor("/login?role=managers", "Manager dashboard")
                    +anchor("/login?role=experts", "Expert dashboard")
        main.p-4.h-screen
            block content 
        block foot 
        block scripts
